body {
    background: silver;
    font-family: sans-serif;
    font-size: 12pt;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

div#content {
    display: inline-block;
    text-align: left;
    min-width: 400px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    box-shadow: 0px 0px 30px #002;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid #00A;
    clear: both;
}

div#headerbar {
    background: grey;
    margin: 0px;
    padding: 0px;
    border-bottom: 2px solid #00A;
    box-shadow: 0px 0px 30px #002;
    text-align: left;
    width: 100%;
    float: left;
}

div#headerbar div {
    margin: 0px;
    padding: 10px;
    float: right;
    text-align: right;
}

div#headerbar div:before {
    content: ".";
    font-size: 24pt;
    color: grey;
}

div#headerbar h1 {
    color: white;
    font-size: 24pt;
    text-shadow: 0px 0px 10px black;
    margin: 0px;
    padding: 10px;
    display: inline-block;
    text-align: left;
}

div#headerbar ul {
    list-style-type: none;
    position: absolute;
    display: none;
    top: 26pt;
    left: 26pt;
    background: white;
    box-shadow: 0px 0px 30px #002;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid #00A;
}

div#headerbar ul li {
    padding: 5px;
    font-family: sans-serif;
    font-size: 12pt;
    color: black;
}

div#headerbar ul li + li {
    border-top: 1px solid grey;
}

div#headerbar *:hover + ul,  div#headerbar ul:hover {
    display: block;
}

div#headerbar ul a, div#headerbar ul a:hover {
    color: #00F;
    text-shadow: none;
}

div#headerbar ul a:hover {
    background: #DDD;
}

div#headerbar > a {
    font-size: 16pt;
    text-shadow: 0px 0px 5px black;
    color: white;
    margin: 0px;
    padding: 10px;
    display: inline-block;
}


div#headerbar > span {
    font-size: 16pt;
    text-shadow: 0px 0px 5px white;
    color: black;
    margin: 0px;
    padding: 10px;
    display: inline-block;
}

h2 {
    font-size: 150%;
    font-family: inherit;
    font-weight: bold;
    font-style: normal;
    color: #F80;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    font-size: 125%;
    font-family: inherit;
    font-weight: bold;
    font-style: normal;
    color: silver;
    margin-top: 10px;
    margin-bottom: 10px;
}

p.text {
    max-width: 80ex;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
    vertical-align: top;
}

th {
    background: silver;
    font-weight: bold;
}

pre {
    font-family: monospace;
    font-size: 10pt;
    white-space: pre-wrap;
}

td pre {
    padding: 0px;
    margin: 0px;
}

.status_normal {
}

.status_ok {
    background: green;
    color: white;
}

.status_warn {
    background: yellow;
    color: black;
}

.status_fail {
    background: red;
    color: white;
}

.status_unknown {
    font-style: italic;
    background: white;
    color: gray;
}

.status_trivial {
    color: gray;
}

.status_running {
    opacity: 0.5;
}

a {
  text-decoration: none;
  color: inherit;
}

p a:link, p a:visited {
    font-weight: bold;
    color: #00F;
}

td.linkcell a:link, td.linkcell a:visited {
    color: #00F;
}

a:link.rss, a:visited.rss {
    background: #F80;
    color: white;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

h1 a:link, h1 a:visited {
    color: white;
}

div#headerbar a:active, div#headerbar a:hover {
    text-shadow: 0px 0px 5px #FF0;
}

td.statuscell {
    margin: 0px;
    padding: 0px;
}

td.statuscell a {
    display: block;
    padding: 5px;
    margin: 0px;
}

.hidden {
    display: none;
}

[class^=deleted] {
    opacity: 0.5;
    text-decoration: line-through;
}

h2 a:hover, h2 a:active {
    text-shadow: 0px 0px 5px #88F;
}

div > pre {
    padding: 10px;
    border: 1px solid #F80;
    border-radius: 5px;
    background: #FED;
}

.meta_info {
    color: grey;
}

ul#service_status {
    list-style-type: none;
    margin: 20px 0px 20px 0px;
    padding: 0px;
}

ul#service_status:before {
    content: 'Service status: ';
}

ul#service_status li {
    display: inline-block;
    color: inherit;
    background: inherit;
    margin: 0px;
    padding: 2px;
}

ul#service_status li.status_fail {
    border: 1px solid red;
    border-left: 20px solid red;
    text-decoration: line-through;
}

ul#service_status li.status_ok {
    border: 1px solid green;
    border-left: 20px solid green;
}

form ol li {
    list-style: none;
    margin-bottom: 10px;
}

label {
    width: 10em;
    display: inline-block;
    text-align: right;
}

a + a > *[class^="icon-"], a + a > *[class*=" icon-"] {
    padding-left: 2ex;
}
