h1 {
    color: red;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}

.status_normal {
}

.status_ok {
    background: green;
    color: white;
}

.status_warn {
    background: yellow;
    color: black;
}

.status_fail {
    background: red;
    color: white;
}

.status_unknown {
    font-style: italic;
    background: white;
    color: gray;
}

.status_running {
    opacity: 0.5;
}
